@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #fff;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.border {
  border: 1px solid #d1d1d1 !important;
}
.text,
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
}
header {
  top: 0;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 0 20px;
  position: fixed;
  width: 100vw;
  height: 40px;
  z-index: 1;
  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px;
  }
  i {
    font-size: 1.5rem;
  }
  .right-icons i {
    font-size: 1.2rem;
    margin-right: 8px;
    cursor: pointer;
  }
}
footer {
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding: 5px 0;
  height: 40px;
  z-index: 1;
  i {
    color: white;
    font-size: 1.2rem;
  }
}
main {
  position: relative;
  top: 30px;
  height: calc(100vh - 69px);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.single-product {
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;

  > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 67%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
    .side-icons {
      position: absolute;
      right: 1rem;
      bottom: 0px;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      i {
        border: 1px solid #444;
        padding: 0.6rem;
        border-radius: 50%;
        background-color: #0505054f;
        backdrop-filter: blur(5px);
      }
    }
  }
}

.product-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: #000;

  .description {
    text-align: center;
    color: #ccc;
    margin-top: 0.6rem;
  }

  .price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    background-color: #1a1a1a;
    border-top: 1px solid #1a1a1a;

    .old-price {
      text-decoration: line-through;
      color: red;
    }
    .quantity {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      border: 1px solid #696464;
      border-radius: 40px;
      padding: 7px;
    }
    #decrement,
    #increment {
      background: #444;
      color: white;
      border: none;
      padding: 0.3rem 0.6rem;
      border-radius: 40px;
    }
  }

  .related-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;
    padding: 0px 0.9rem;
    justify-content: center;

    .related-products {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.7rem;
      justify-content: flex-start;
      margin: 0.5rem 0.9rem;
      scroll-behavior: smooth;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      .related-item {
        flex: 0 0 calc(25% - 0.6rem);
        background-color: #000000;
        border-radius: 0.6rem;
        padding: 5px;
        text-align: center;
        border: 1px solid #3a3a3a;
        scroll-snap-align: start;

        img {
          width: 100%;
          height: 4rem;
          object-fit: cover;
          border-radius: 6px;
          margin-bottom: 6px;
        }
      }

      #leftArrow,
      #rightArrow {
        backdrop-filter: blur(5px);
        padding: 5px 8px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 5;
        left: 0px;
      }
    }
    .related-products::-webkit-scrollbar {
      display: none;
    }
  }

  .order-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
    padding: 0.6rem;
  }
}
@media (max-height: 840px) {
  .single-product {
    .single-product > div:first-child {
      height: 66%;
    }
    .product-content {
      height: 34%;
    }
  }
}
@media (max-height: 750px) {
  .single-product {
    .single-product > div:first-child {
      height: 60%;
    }
    .product-content {
      height: 40%;
    }
  }
}
@media (max-height: 640px) {
  .single-product {
    .related-wrapper .related-products .related-item img {
      height: 3rem !important;
    }
    .price-section {
      padding: 0.4rem 0.6rem 0.2rem !important;
    }
    .order-controls {
      padding: 0.3rem 0.6rem 0.4rem !important;
    }
  }
}
